{% extends 'base.html.twig' %}

{% block title %}Hello DisplayOffersController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.title {
			color: red;
			font-size: 30px;
			letter-spacing: 1px;
		}
		.italic_name {
			box-shadow: inset 0 0 0 0 #54b3d6;
			color: #54b3d6;
			transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
		}
		.italic_name:hover {

			box-shadow: inset 100% 0 0 0 #54b3d6;
			color: red;
		}
	</style>

	<div class="example-wrapper col-8">
		<h1 style="text-align:center;">Hello, here is the
			{{ controller_name }}
			page !</h1>

		<ul style="list-style-type: none;" class="cards-wrapper">
			{% if offers %}
				{% for element in offers %}
					<li>
						<div class="cardO">
							<h3 style="letter-spacing:5px;">
								Job offer :
							</h3>
							<i class="italic_name">{{element.name}}</i>
							<h3>
								Description :
							</h3>
							<i style="font-size:70%" class="italic_name">{{element.description}}</i>
							<h3>
								Business :
							</h3>
							<i class="italic_name">
								{{element.business.name}}</i>

							<h3>
								Skills :
							</h3>
							{% for skill in element.skills %}
								<i class="italic_name">{{skill.name}}</i>
								<br>
							{% endfor %}

						</li>
					{% endfor %}
				{% else %}
					<li>
						There is no offers for the moment.
					</li>
				{% endif %}

			</ul>
		</div>
	{% endblock %}
