{% extends 'base.html.twig' %}

{% block title %}Hello DisplayOffersController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		.title {
			color: red;
			font-size: 30px;
			letter-spacing: 1px;
		}
	</style>

	<div class="example-wrapper">
		<h1 style="text-align:center;">Hello, here is the
			{{ controller_name }}
			page !</h1>

		<ul style="list-style-type: none;">
			{% if offers %}
				{% for element in offers %}
					<li>
						<div style=" text-align:center; width: 400px; margin: 0px auto; background-color: white; box-shadow: 0px 5px 20px #999;">
							<h3>
								Name :
							</h3>
							<br>
							{{element.name}}
							<br>
							<h3>
								Description :
							</h3>
							<br>
							{{element.description}}
							<br>
							<h3>
								Business :
							</h3>
							<br>
							{{element.business.name}}
							<br>
							<h3>
								Skills :
							</h3>
							{% for skill in element.skills %}
								<br>
								{{skill.name}}
								<br>
							{% endfor %}

						</li>
					{% endfor %}
				{% else %}
					<li>
						There is no offers for the moment.
					</li>
				{% endif %}

			</ul>
		</div>
	{% endblock %}
